<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="../public/styles/legendaries.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legendaries</title>
</head>
<body>
    <header>
        <div class="img-logo">
            <img src="../public/img/logo.svg" alt="logo">
        </div>
        <div>
            <nav class="navbar">
                <a class="border" href="../views/index.html">
                    Home
                </a>
                <a href="">
                    Pokédex
                </a>
                <a href="" id="legendaries">
                    Legendaries
                </a>
                <a href="">
                    Documentation
                </a>
            </nav>
        </div>
        <div class="button">
            <button class="img-menu">
                <img src="../public/img/menu.svg" alt="">
            </button>
        </div>
    </header>
    <main>
        <h1 class="mainTxt">
            <strong>
                Lendários
            </strong>
        </h1>
        <div class="pokemonMain">
            <img src="../public/img/mewtwo.svg" alt="mewtwoFoto" id="imgMewTwo">
            <div class="detalhes">
                <h2>
                    MewTwo
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
                </p>  
                <div class="statistics">
                    <img src="../public/img/statistics.svg" alt="">
                </div>
            </div>
        </div>
        <div class="carrocel">
            <img src="../public/img/setaEsquerda.svg" alt="">
            <div class="caixas">
                <div class="conteudo">
                    <img src="../public/img/mewtwo2.svg" alt=""class="images">
                    <img src="../public/img/bottomMewTwo.svg" alt="" class="bottom">
                </div>
            </div>
            <div class="caixas">
                <div class="conteudo">
                    <img src="../public/img/moltres.svg" alt=""class="images">
                    <img src="../public/img/moltresBottom.svg" alt="" class="bottom">
                </div>
            </div>
            <div class="caixas">
                <div class="conteudo">
                    <img src="../public/img/articumo.svg" alt=""class="images">
                    <img src="../public/img/articunoBottom.svg" alt="" class="bottom">
                </div>
            </div>
            <div class="caixas">
                <div class="conteudo">
                    <img src="../public/img/zapdos.svg" alt=""class="images">
                    <img src="../public/img/zapdosBottom.svg" alt="" class="bottom">
                </div>
            </div>
            <div class="caixas">
                <div class="conteudo">
                    <img src="../public/img/diance.svg" alt=""class="images">
                    <img src="../public/img/dianceBottom.svg" alt="" class="bottom">
                </div>
            </div>
            <div class="caixas">
                <div class="conteudo">
                    <img src="../public/img/xernas.svg" alt=""class="images">
                    <img src="../public/img/xernasBottom.svg" alt="" class="bottom">
                </div>
            </div>
            <img src="../public/img/setadireita.svg" alt="">
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>